*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
    font-family:"Source Sans Pro", sans-serif;
}
main{
    background-attachment: fixed;
    background-image:url('./Assests/Ray+Romano+Loft+renovation+nyc+brooklyn+hamptons+luxury+construction.webp');
    background-repeat:no-repeat;
    background-size: cover;
    /* background-position:100% 50%; */
    background-position: center;
}
nav{
    height:153px;
    display: flex;
    justify-content:center;
    gap:43%;
    background-color: white;
}
nav>div{
    height:150px;
    width: 150px;
    display: flex;
    align-items: center;
}
nav>div>img{
    height:100px;
    width: 100px;
}
nav>div+div{
    height:150px;
    width:38%;
    display: flex;
    align-items: center;
    justify-content:center;
    gap:25%;
}
nav ol{
    list-style: none;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width:100%;
}
nav li:hover{
    cursor:pointer;
    color: grey;
}
nav ol>li{
    font-size:10px;
    font-weight: 600;
    letter-spacing:2px;
    color:grey;
}
nav ol>li+li{
    font-size:10px;
    font-weight: 600;
    letter-spacing:2px;
    color: black;
}
#sec1{
    height:576px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    gap:1%;

}
#sec1 aside{
    height:220px;
    width: 90%;
    padding-top:10px;
}
#sec1 h1{
    text-transform: uppercase;
    height:35%;
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
    font-weight: 200;
    letter-spacing:6px;
    font-family: "Source Sans Pro", sans-serif;
    font-family: "proxima-nova";
    font-size: 37px;
    background-color:rgba(255, 255, 255, 0.59);
}
#sec1 p{
    height:40%;
    letter-spacing:1.3px;
    line-height:25px;
    /* word-spacing:px; */
    width:65%;
    padding: 20px;
    background-color:rgba(255, 255, 255, 0.59);
}
#sec2{
    height:1123px;
    background-image:url('./Assests/Ray+Romano+Contracting+combination+renovation+luxury+contemporary+Upper+East+Side+NYC+Hamptons+Brooklyn+NJ.jpg');
    background-size: cover;
    background-position: 100% 50%;
    background-attachment:fixed;
    
}

#sec2>aside{
    height:390px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sec2>aside>div{
    height:195px ;
    width:64.5%;
    display:flex;
    justify-content: center;
    gap:10%;
    flex-direction: column;
}
#sec2 h1{
    font-size:26px;
    text-transform:uppercase;
    font-weight:600;
    letter-spacing:2px;
}
#sec2 p{
    font-size:16px;
    line-height:25px;
}
#sec2> article{
    height:732px;
    display: flex;
    justify-content:left;
    align-items:flex-start;
    flex-direction: column;

}
#sec2 article>div{
    height:80px;
    width:68.8%;
    padding:80px;
}
#sec2 article h1{
    font-size:35px;
    font-family:"futura-pt";
    height:108px;
    font-weight:100;
    padding:15px;
    padding-left:20px;
    letter-spacing:4px;
    background-color:rgba(255, 255, 255, 0.59);;
}
#sec3{
    height:1190px;
    background-image:url('./Assests/Ray+Romano+Hamptons+Sag+Harbor+renovation.jpg');
    background-size: cover;
    background-position: 100% 50%;
    background-attachment:fixed;
}
#sec3>aside{
    height:445px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sec3>aside>div{
    height:190px ;
    width:64%;
    display:flex;
    justify-content: center;
    gap:10%;
    flex-direction: column;
}
#sec3 h1{
    font-size:18px;
    text-transform:uppercase;
    font-weight:600;
    letter-spacing:1px;
}
#sec3 p{
    font-size:15px;
    line-height:23px;
}
#sec3> article{
    height:732px;
    display: flex;
    justify-content:left;
    align-items:flex-start;
    flex-direction: column;

}
#sec3 article>div{
    height:70px;
    width:27%;
    padding:80px;
}
#sec3 article h1{
    font-size:35px;
    font-family:"futura-pt";
    height:70px;
    font-weight:100;
    padding:15px;
    padding-left:20px;
    letter-spacing:5px;
    background-color:rgba(255, 255, 255, 0.59);
}                                                           
#sec4{
    height:1125px;
    background-image:url('./Assests/1040.webp');
    background-size: cover;
    background-position: 100% 50%;
    background-attachment:fixed;
}
#sec4>aside{
    height:390px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sec4>aside>div{
    height:190px ;
    width:64%;
    display:flex;
    justify-content: center;
    gap:10%;
    flex-direction: column;
}
#sec4 h1{
    font-size:18px;
    text-transform:uppercase;
    font-weight:600;
    letter-spacing:1px;
}
#sec4 p{
    font-size:15px;
    line-height:23px;
}
#sec4> article{
    height:732px;
    display: flex;
    justify-content:left;
    align-items:flex-start;
    flex-direction: column;

}
#sec4 article>div{
    height:70px;
    width:34%;
    padding:80px;
}
#sec4 article h1{
    font-size:35px;
    font-family:"futura-pt";
    height:70px;
    font-weight:100;
    padding:15px;
    padding-left:20px;
    letter-spacing:5px;
    background-color:rgba(255, 255, 255, 0.59);;
}
#sec5{
    height:1220px;
    background-image:url('./Assests/Custom+Closet+Ray+Rompano+Contracting+NYC+Brooklyn+Upper+east+Side+NYC+renovation.jpg');
    background-size: cover;
    background-position: 100% 50%;
    background-attachment:fixed;
}
#sec5>aside{
    height:490px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sec5>aside>div{
    height:190px ;
    width:64%;
    display:flex;
    justify-content: center;
    gap:10%;
    flex-direction: column;
}
#sec5 h1{
    font-size:18px;
    text-transform:uppercase;
    font-weight:600;
    letter-spacing:1px;
}

#sec5 p{
    font-size:14px;
    line-height:23px;
}
#sec5> article{
    height:732px;
    display: flex;
    justify-content:left;
    align-items:flex-start;
    flex-direction: column;

}
#sec5 article>div{
    height:70px;
    width:26%;
    padding:80px;
}
#sec5 article h1{
    font-size:35px;
    font-family:"futura-pt";
    height:70px;
    font-weight:100;
    padding:15px;
    padding-left:20px;
    letter-spacing:5px;
    background-color:rgba(255, 255, 255, 0.59);;
}
#sec6{
    height:1000px;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#sec6>aside{
    height:270px;
    width:70%;
    display:flex;
    align-items: center;
    gap:3.5%;
    flex-direction:row;
    justify-content:center;
}
#sec6 aside div{
    height: 250px;
    width:28%;

}

#save-button1{
    background-color: red;
    height:20px;
    width:46px;
    position:absolute;
    top:754%;
    left:19%;
    align-items: center;
    display:flex;
    padding:3px;
    border-radius: 2px;
    visibility: hidden;
    
}
#save-button2{
    background-color: red;
    height:20px;
    width:46px;
    position:absolute;
    top:754%;
    left:41%;
    align-items: center;
    display:flex;
    padding:3px;
    border-radius: 2px;
    visibility: hidden;
    
}
#save-button3{
    background-color: red;
    height:20px;
    width:46px;
    position:absolute;
    top:754%;
    left:63%;
    align-items: center;
    display:flex;
    padding:3px;
    border-radius: 2px;
    visibility: hidden;
    
}
#save-button4{
    background-color: red;
    height:20px;
    width:46px;
    position:absolute;
    top:791%;
    left:19%;
    align-items: center;
    display:flex;
    padding:3px;
    border-radius: 2px;
    visibility: hidden;
    
}
#save-button5{
    background-color: red;
    height:20px;
    width:46px;
    position:absolute;
    top:791%;
    left:41%;
    align-items: center;
    display:flex;
    padding:3px;
    border-radius: 2px;
    visibility: hidden;
    
}
#save-button6{
    background-color: red;
    height:20px;
    width:46px;
    position:absolute;
    top:791%;
    left:63%;
    align-items: center;
    display:flex;
    padding:3px;
    border-radius: 2px;
    visibility: hidden;
    
}
#save-button7{
    background-color: red;
    height:20px;
    width:46px;
    position:absolute;
    top:828%;
    left:19%;
    align-items: center;
    display:flex;
    padding:3px;
    border-radius: 2px;
    visibility: hidden;
    
}

#sec6 font
{
    font-size: 12px;
    font-weight:600;
    color: white;
    padding-bottom:2px;
}
#sec6 img{
    width:100%;
    height:190px;
}
#sec6 aside div:hover #save-button1,
#sec6 aside div:hover #save-button2,
#sec6 aside div:hover #save-button3,
#sec6 aside div:hover #save-button4,
#sec6 aside div:hover #save-button5,
#sec6 aside div:hover #save-button6,
#sec6 aside div:hover #save-button7 {
    visibility: visible;
}


#sec6 p{
    font-family:"proxima-nova";
    padding-top:15px;
    font-size:13px;
    font-weight:500;
}
#sec6>aside:last-child{
    height:270px;
    width:70%;
    padding-left:50px;
    display:flex;
    align-items: center;
    justify-content:start;
    flex-direction:row;
    
}
footer{
    background-color: black;
    height:150px;
    color: white;
    display: flex;
    gap:3.4%;
    justify-content: center;
    align-items: center;

}
footer aside{
    height:50px;
    width:12%;
    display: flex;
    align-items: center;
    gap:3%;
    justify-content: center;
}
footer div{
    height:32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color:black;
    border-radius: 50px;
}
footer aside+aside{
    height:50px;
    width:50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer h5{
    font-size:14px;
    font-weight:500;
}
#sec7{
    height:80px;
}
#scroll{
  position: absolute;
  top: 93%;
  left: 48%;
  font-size: 20px;
  color: white;
}
#scroll>a{
    color: white;
}
#scroll::after {
  font-size: 28px;
}
#scroll:hover::after {
  content: "SCROLL DOWN"; 
  font-size: 16px;
}
#scroll-top>a{
    color: black;
}
#scroll-top{
    border: 2px soild;
    background-color: white;
    border-radius: 50%;
    padding-top:4px;
    text-align: center;
    height:48px;
    width:50px;
    line-height:16px;
    position:absolute;
    top:872%;
    left:48%;

}
h6{
    letter-spacing:3px;
    padding-right:15px;
    padding-left:9px;
}



